/* line 1, fruitapp/static/styles.scss */
html,
body {
  height: 100%; }

/* line 7, fruitapp/static/styles.scss */
.content {
  min-width: 50% !important;
  min-height: 60%; }

/* line 12, fruitapp/static/styles.scss */
.image {
  height: 400px;
  width: 400px; }

/* line 17, fruitapp/static/styles.scss */
#step2Card {
  display: none; }
