{% extends "fruitapp/base.html" %}

{% block content %}
{% load static %}
<div class="h-100 p-3">
    <div class="d-flex flex-column h-100">
        <h3 class="mt-3">step 2: results</h3>
        <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-center">
            <!-- <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <h4 class="text-muted mt-3">classifying...</h4> -->
            {{ class_name }}: {{ confidence_score }}
            {{ predictions }}
            <image src="{% get_media_prefix %}{{ file_name }}" class="fruit-image"/>
            <form action="{% url 'explain' %}" method="POST" id="explainForm">
                <input type="hidden" name="fileurl" value="{{file_url}}"/>
                <input type="hidden" name="filename" value="{{file_name}}"/>
                {% csrf_token %}
                <button class="btn btn-primary" type="submit" id="explainButton">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="explainSpinner"></span>
                    Explain
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    $("#explainButton").click(function (e) {
        $("#explainSpinner").css("display", "inline-block");
        let btn = e.target;
        btn.setAttribute("disabled", "");
        $("#explainForm").submit()
    })
</script>

{% endblock %}