{% extends "fruitapp/center-base.html" %}

{% block content %}
{% load static %}
<h3 class="mb-3">step 1: upload</h3>
<div class="card p-5 mx-auto shadow d-flex justify-content-center text-center">
    <div class="d-flex flex-column">
        <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-center">
            <div class="row m-3">
                <div class="col pe-5">
                    <form action="{% url 'classify' %}" method="POST" enctype="multipart/form-data" id="classifyForm">
                        <h5 class="mb-3">choose fruit</h5>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">fruit type</span>
                            <select class="form-select" aria-label="Default select example" name="fruitType">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="banana">banana</option>
                                <option value="apple">apple</option>
                                <option value="orange">orange</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <input id="imageInput" class="form-control" type="file" name="imageFile">
                        </div>
                        {% csrf_token %}
                        <button id="classifyButton" class="btn btn-primary" type="submit">
                            <span class="buttonSpinner"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
                            classify
                        </button>
                    </form>
                </div>
                <div class="col border-start ps-5">
                    <h5 class="mb-3">preview fruit</h5>
                    <figure class="figure">
                        <img id="imagePreview" src="{% static 'fruitapp/placeholder-image.jpeg' %}"
                            class="figure-img img-fluid rounded fruit-image" alt="...">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $("#imageInput")[0].onchange = evt => {
        const [file] = $("#imageInput")[0].files
        if (file) {
            $("#imagePreview")[0].src = URL.createObjectURL(file)
        }
    }

    $("#classifyButton").click(function (e) {
        $(".buttonSpinner").css("display", "inline-block");
        let btn = e.target;
        btn.setAttribute("disabled", "");
        $("#classifyForm").submit()
    })
</script>

{% endblock %}