html, 
body {
    height: 100%;
    // background-color: #FED6C2 !important;
}

.content {
    min-width: 50% !important;
    min-height: 60%;
}

.image {
    max-height: 400px;
    max-width: 400px;
}